apiVersion: v1
kind: Secret
metadata:
  name: airflow-s3
  namespace: airflow
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "PUT_ACCESS_KEY_ID_HERE"
  AWS_SECRET_ACCESS_KEY: "PUT_SECRET_ACCESS_KEY_HERE"
  AWS_DEFAULT_REGION: "ru-central1"
  S3_ENDPOINT_URL: "https://storage.yandexcloud.net"
  BUCKET: "PUT_BUCKET_NAME_HERE"

